@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

@media (max-width: 767px) {
  //Inicio secci贸n MKT
  .mktSection {
    width: 100vw;
    height: 1090px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .containerMktOne {
    width: 100%;
    height: 437px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .containerMktTwo {
    width: 100%;
    height: 541px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt {
    width: 380px;
    height: 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt2 {
    width: 95%;
    height: 176px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h2Mkt {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .h2Mkt2 {
    color: $dark;
    height: 108px;
    width: 265px;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: 0.15px;
    
  }

  .astroExplication {
    width: 95%;
    color: $dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
  }

  .fotoContainer {
    width: 100vw;
    height: 309px;
  }

  .fotoContainer2 {
    width: 100vw;
    height: 309px;
    margin-top: 56px;
  }
  //Fin secti贸n MKT
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  //Inicio secci贸n MKT
  .mktSection {
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 56px;
  }

  .containerMktOne {
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 56px;
  }

  .containerMktTwo {
    width: 90%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt {
    width: 344px;
    height: 88px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt2 {
    width: 344px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }

  .h2Mkt {
    color: $dark;
    height: 108px;
    width: 265px;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    
  }

  .h2Mkt2 {
    color: $dark;
    height: 108px;
    width: 265px;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: 0.15px;
    margin-top: 23px;
  }

  .astroExplication {
    width: 95%;
    color: $dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 16px;
  }

  .fotoContainer {
    width: 344px;
    height: 258px;
    border-radius: 5px 5px 5px 0px;
  }

  .fotoContainer2 {
    width: 344px;
    height: 258px;
    border-radius: 5px 0px 5px 5px;
  }
  //Fin secti贸n MKT
}
