@charset "UTF-8";
@import url(../../../styles/_variables.scss);
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@media (max-width: 767px) {
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 243, 237, 0.9725490196);
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0 !important;
    height: 103vh !important;
    width: 100vw !important;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 108px;
    width: 328px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 320px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 32px;
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #d34600;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 207px;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 30px;
    height: 30px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
    background-image: url(../../../assets//images/headerHistory.jpg);
    background-size: cover;
    background-position: 90%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #f8f2ee;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  h3 {
    color: #f8f2ee;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #d34600;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  .unSueñoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .puebloContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .subtitleContainerHistory {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .textoSueñoContainer {
    width: 92%;
    height: auto;
    color: #4b4a4a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .textoPuebloContainer {
    width: 92%;
    height: 530px;
    color: #4b4a4a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #787878;
  }
  .notaSection {
    margin-bottom: 56px;
  }
  .subtitleContainerNotas {
    width: 100%;
    height: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2Notas {
    width: 92%;
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .containerNotas {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .boxContainerNota {
    height: auto;
    width: 92%;
  }
  .imagenNota {
    width: 100%;
    height: 309px;
    margin-bottom: 8px;
  }
  .linkTituloNotaContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .tituloNota {
    width: 90%;
    margin-left: 8px;
    color: #4b4a4a;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    letter-spacing: 0.15px;
    text-align: left;
  }
  .iconLink {
    margin-bottom: 7%;
    margin-right: 5px;
  }
}/*# sourceMappingURL=history.module.css.map */