@charset "UTF-8";
@import url(../../../styles/_variables.scss);
@font-face {
  font-family: Cardo;
  src: url(./fonts/Cardo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: DMSansMedium;
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: DMSansSemiBold;
  src: url(./fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSansRegular;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}
@media (max-width: 767px) {
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fcfaf6;
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0 !important;
    height: 103vh !important;
    width: 100vw !important;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    width: 328px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 320px;
    color: #e55d19;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: DMSansMedium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #e55d19;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 207px;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 30px;
    height: 30px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
    background-image: url(../../../assets//images/headerHistory.jpg);
    background-size: cover;
    background-position: 90%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .h1History {
    color: #fcfaf6;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    margin-bottom: 16px;
  }
  h3 {
    color: #c25308;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansSemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #e55d19;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 32px;
  }
  .unSueñoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .puebloContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .subtitleContainerHistory {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .textoSueñoContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .textoPuebloContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #f16529;
    width: 20px;
    border-radius: 10px;
  }
  .notaSection {
    margin-bottom: 24px;
  }
  .subtitleContainerNotas {
    width: 100%;
    height: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2Notas {
    width: 92%;
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .containerNotas {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .boxContainerNota {
    height: auto;
    width: 92%;
  }
  .imagenNota {
    width: 100%;
    height: 309px;
    margin-bottom: 8px;
  }
  .linkTituloNotaContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .containerLinkTitle {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tituloNota {
    width: 90%;
    height: auto;
    margin-left: 8px;
    color: #333333 !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    letter-spacing: 0.15px;
    text-align: left;
  }
  .iconLink {
    margin-bottom: 7%;
    margin-right: 5px;
  }
  .desktopBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .navBar {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .navBar {
    display: none;
  }
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fcfaf6;
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0 !important;
    height: 103vh !important;
    width: 100vw !important;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    width: 328px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 320px;
    color: #e55d19;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: DMSansMedium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #e55d19;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 207px;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 30px;
    height: 30px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets//images/headerHistory.jpg);
    background-size: cover;
    background-position: 90%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #fcfaf6;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #e55d19;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: DMSansSemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  .unSueñoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .puebloContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .subtitleContainerHistory {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 80px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .textoSueñoContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .textoPuebloContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .carrouselCamping {
    position: relative;
    height: 516px;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
  .notaSection {
    margin-bottom: 80px;
  }
  .subtitleContainerNotas {
    width: 100%;
    height: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2Notas {
    width: 60%;
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .containerNotas {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  .boxContainerNota {
    height: 390px;
    width: 336px;
    margin-bottom: 16px;
  }
  .imagenNota {
    width: 100%;
    height: 309px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .linkTituloNotaContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .containerLinkTitle {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tituloNota {
    width: 280px;
    max-height: 92px;
    margin-left: 8px;
    color: #333333 !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.15px;
    text-align: left;
    margin-bottom: 0 !important;
  }
  .iconLink {
    margin-right: 5px;
  }
  .desktopBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .navBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 87px;
    position: fixed;
    top: 0;
    left: 0;
    /* Estado inicial: sin fondo o background transparente */
    background: transparent;
    transition: background 0.1s ease, -webkit-backdrop-filter 0.1s ease;
    transition: background 0.1s ease, backdrop-filter 0.1s ease;
    transition: background 0.1s ease, backdrop-filter 0.1s ease, -webkit-backdrop-filter 0.1s ease;
    z-index: 100000000000000000000;
  }
  .scrolled {
    background: rgb(255, 255, 255);
    color: #e55d19 !important;
    -webkit-backdrop-filter: blur(1.25px);
            backdrop-filter: blur(1.25px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  .imgLogoDesktop {
    width: 66px;
    height: 39px;
    margin-left: 16px;
    position: absolute;
    margin-top: 24px;
    top: 0;
    left: 0;
  }
  .navigatonHeader {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: #fcfaf6;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }
  .navigatonHeaderScrolled {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }
  .itemOption {
    transition: all 300ms;
  }
  .itemOption:hover {
    color: #e55d19;
    transition: all 300ms !important;
    font-weight: bold;
    transform: scale(105%);
  }
  .menuHamburguesaButton {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets//images/headerHistory.jpg);
    background-size: cover;
    background-position: 90%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #fcfaf6;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #e55d19;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: DMSansSemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  .unSueñoContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 74%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .puebloContainer {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    width: 74%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .subtitleContainerHistory {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .textoSueñoContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .textoPuebloContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .carrouselCamping {
    position: relative;
    width: 548px;
    height: 588px;
    border-radius: 5px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
  .notaSection {
    margin-bottom: 80px;
  }
  .subtitleContainerNotas {
    width: 100%;
    height: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2Notas {
    width: 60%;
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .containerNotas {
    width: 74%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  .boxContainerNota {
    height: 390px;
    width: 336px;
    margin-bottom: 16px;
  }
  .imagenNota {
    width: 100%;
    height: 309px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .linkTituloNotaContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
  }
  .containerLinkTitle {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tituloNota {
    width: 280px;
    max-height: 92px;
    margin-left: 8px;
    color: #333333 !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.15px;
    text-align: left;
    margin-bottom: 0 !important;
  }
  .iconLink {
    margin-right: 5px;
  }
  .desktopBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 548px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2080px) {
  .navBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 87px;
    position: fixed;
    top: 0;
    left: 0;
    /* Estado inicial: sin fondo o background transparente */
    background: transparent;
    transition: background 0.1s ease, -webkit-backdrop-filter 0.1s ease;
    transition: background 0.1s ease, backdrop-filter 0.1s ease;
    transition: background 0.1s ease, backdrop-filter 0.1s ease, -webkit-backdrop-filter 0.1s ease;
    z-index: 100000000000000000000;
  }
  .scrolled {
    background: rgb(255, 255, 255);
    color: #e55d19 !important;
    -webkit-backdrop-filter: blur(1.25px);
            backdrop-filter: blur(1.25px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  .imgLogoDesktop {
    width: 66px;
    height: 39px;
    margin-left: 16px;
    position: absolute;
    margin-top: 24px;
    top: 0;
    left: 0;
  }
  .navigatonHeader {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: #fcfaf6;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }
  .navigatonHeaderScrolled {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }
  .itemOption {
    transition: all 300ms;
  }
  .itemOption:hover {
    color: #e55d19;
    transition: all 300ms !important;
    font-weight: bold;
    transform: scale(105%);
  }
  .menuHamburguesaButton {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets//images/headerHistory.jpg);
    background-size: cover;
    background-position: 90%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #fcfaf6;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #e55d19;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: DMSansSemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  .unSueñoContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .puebloContainer {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .subtitleContainerHistory {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .textoSueñoContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .textoPuebloContainer {
    width: 92%;
    height: auto;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .carrouselCamping {
    position: relative;
    width: 548px;
    height: 588px;
    border-radius: 5px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
  .notaSection {
    margin-bottom: 80px;
  }
  .subtitleContainerNotas {
    width: 100%;
    height: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .h2Notas {
    width: 60%;
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .containerNotas {
    width: 55%;
    margin: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  .boxContainerNota {
    height: 390px;
    width: 336px;
    margin-bottom: 16px;
  }
  .imagenNota {
    width: 100%;
    height: 309px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .linkTituloNotaContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
  }
  .containerLinkTitle {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tituloNota {
    width: 280px;
    max-height: 92px;
    margin-left: 8px;
    color: #333333 !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.15px;
    text-align: left;
    margin-bottom: 0 !important;
  }
  .iconLink {
    margin-right: 5px;
  }
  .desktopBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 548px;
    margin-right: 24px;
  }
}/*# sourceMappingURL=history.module.css.map */