@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 435px;
    font-family: $second-typography;
    background-color: $primario-principal;
    color: white;
    //margin-top: 56px;
  }

  .iconCapilla {
    width: 140px;
    height: 111px;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .contenedorNavegador {
    width: 92%;
    height: 144px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    text-align: center;
  }

  .mediaIconsContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 176px;
    margin-bottom: 32px;
  }

  .infoContainer {
    display: flex;
    align-items: flex-start;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }

  .infoContainerDos {
    display: flex;
    align-items: center;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }

  .textoCopyright {
    color: #fff;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }

  .iconFooters {
    margin-right: 4px;
  }
}

//Inicio tablet
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 435px;
    font-family: Lato;
    background-color: $primario-principal;
    color: white;
    margin-top: 56px;
  }

  .iconCapilla {
    width: 140px;
    height: 111px;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .contenedorNavegador {
    width: 458px;
    height: 144px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    text-align: center;
  }

  .navegador {
    color: var(--Secundario-light, #f8f2ee);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .mediaIconsContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 176px;
    margin-bottom: 32px;
  }

  .textoCopyright {
    color: #fff;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }

  .infoContainer {
    display: flex;
    align-items: flex-start;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }

  .infoContainerDos {
    display: flex;
    align-items: center;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }

  .iconFooters {
    margin-right: 4px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 435px;
    font-family: Lato;
    background-color: #d34600;
    color: white;
    margin-top: 56px;
  }

  .iconCapilla {
    width: 140px;
    height: 111px;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .contenedorNavegador {
    width: 458px;
    height: 144px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    text-align: center;
  }

  .navegador {
    color: var(--Secundario-light, #f8f2ee);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .mediaIconsContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 176px;
    margin-bottom: 32px;
  }

  /* .iconMedia {
    width: 35px;
  }
 */
  .textoCopyright {
    color: #fff;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
}
