@import url(../../../styles/_variables.scss);
@import "../../../styles/variables";

.errorContainer {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  width: 92%;
  margin-top: 130px;
  font-size: 30px;
  color: $primario-principal;
  font-family: $third-typography;
  margin-bottom: 50px;
}

.buttonToHome {
  width: 90%;
  font-family: $main-typography;
  color: white;
  font-size: 24px;
  background-color: $primario-principal;
  border-radius: 6px;
  height: 50px;
  text-align: center;
  align-content: center;
}
