@charset "UTF-8";
@import url(../../../styles/_variables.scss);
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@media (max-width: 767px) {
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 243, 237, 0.9725490196);
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 328px;
    height: 406px;
    margin-top: 108px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 265px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #d34600;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 210px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 35px;
    height: 35px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 94%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #f8f2ee;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  h3 {
    color: #f8f2ee;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #d34600;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .formContainer {
    width: 90%;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    color: #4b4a4a;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
    margin-bottom: 72px;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .inputGroup label {
    font-size: 16px;
    color: #333;
    font-size: 14px;
  }
  .inputGroup input,
  .inputGroup select,
  .inputGroup textarea {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: Lato;
    padding: 8px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid var(--Gray-A, #9e9e9e);
    background: var(--background, #fafafa);
  }
  .inputGroup input:focus,
  .inputGroup select:focus,
  .inputGroup textarea:focus {
    outline: none;
    border-color: #666;
  }
  .inputGroup input::-moz-placeholder, .inputGroup select::-moz-placeholder, .inputGroup textarea::-moz-placeholder {
    color: #9e9e9e !important;
    text-align: left !important;
  }
  .inputGroup input::placeholder,
  .inputGroup select::placeholder,
  .inputGroup textarea::placeholder {
    color: #9e9e9e !important;
    text-align: left !important;
  }
  .inputGroup .countsPersons {
    height: 36px;
  }
  .inputGroup textarea {
    height: 313px;
    resize: none;
  }
  .required {
    color: #ff4444;
  }
  .datePreview {
    display: flex;
    flex-flow: column;
    height: 16px;
    border-radius: 10px;
    padding: 8px;
    border-radius: 1px solid gray;
    border: 1px solid var(--Gray-A, #9e9e9e);
  }
  .placeholderText {
    color: #9e9e9e !important;
    font-family: Lato;
    text-align: left !important;
  }
  .spanFechas {
    color: black !important;
    text-align: left;
  }
  .stayDays {
    color: black !important;
  }
  .datePickerModal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 80vh;
    background: white;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateY(100%);
    transition: all 300ms !important;
  }
  .datePickerModal.modalOpen {
    transform: translateY(0);
    bottom: 0;
    transition: all 300ms !important;
  }
  /* .datePickerOVerlay {
    width: 92%;
    background-color: rgb(172, 50, 50);
  } */
  .datePickerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--Gray-A, #9e9e9e);
    transition: all 300ms !important;
    color: #4b4a4a;
  }
  :global .react-datepicker {
    font-family: "Lato", sans-serif;
  }
  :global .react-datepicker__day--in-range {
    background-color: rgba(201, 52, 19, 0.1) !important;
    border-radius: 0 !important;
  }
  :global .react-datepicker__day--in-selecting-range {
    background-color: rgba(201, 52, 19, 0.1) !important;
    border-radius: 0 !important;
  }
  :global .react-datepicker__day--selected {
    background-color: #c93413 !important;
    border-radius: 50% !important;
    color: white !important;
  }
  :global .react-datepicker__day--range-start {
    border-radius: 50% 0 0 50% !important;
    background-color: #c93413 !important;
    color: white !important;
  }
  :global .react-datepicker__day--range-end {
    border-radius: 0 50% 50% 0 !important;
    background-color: #c93413 !important;
    color: white !important;
  }
  .applyButton {
    width: 90%;
    padding: 12px;
    margin-top: 20px;
    background-color: #d34600;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: Lato;
    font-size: 16px;
    cursor: pointer;
  }
  .closeButtonDates {
    display: flex;
    position: absolute;
    right: 2%;
    top: 1%;
    width: 20px;
  }
  .datePickerHeader {
    height: 40px !important;
  }
  .selectDates {
    color: #d34600;
    font-family: Lato;
    text-align: center;
    width: 147px;
    margin: auto;
    font-size: 18px;
  }
  .guestsGroup {
    display: flex;
    gap: 16px;
  }
  .guestsGroup .inputGroup {
    flex: 1;
  }
  .charCount {
    text-align: right;
    font-size: 14px;
    color: #666;
  }
  .submitButton {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #d34600;
  }
  .submitButtonOff {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    color: gray;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: gainsboro;
  }
}/*# sourceMappingURL=contact.module.css.map */