@charset "UTF-8";
@font-face {
  font-family: Cardo;
  src: url(./fonts/Cardo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: DMSansMedium;
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: DMSansSemiBold;
  src: url(./fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSansRegular;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}
@media (max-width: 767px) {
  .gallerySection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfaf6;
    padding-top: 16px;
  }
  .subtitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    font-family: Cardo;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
  }
  .gallery {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: 5px;
  }
  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease;
  }
  .galleryImage:hover {
    transform: scale(1.05);
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modalContent {
    position: relative;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 24px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 48px);
  }
  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }
  .fotoAbierta {
    max-width: 100%;
    max-height: calc(100vh - 96px);
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
    border-radius: 5px;
  }
  .fotoAbierta.active {
    opacity: 1;
    display: block;
  }
  .closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .closeButton img {
    width: 24px;
    height: 24px;
  }
  .goToGalleryContainer {
    width: 95%;
    background: none;
    border: none;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 39px;
    font-size: 16px;
    font-weight: 600;
    color: #e55d19;
    font-family: DMSansSemiBold;
    border: 2px solid #e55d19;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
  .modalNavButton {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfaf6;
    padding-top: 16px;
  }
  .subtitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-family: Cardo;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .gallery {
    width: 89%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .imageWrapper {
    position: relative;
    width: 336px;
    padding-top: 253px;
    overflow: hidden;
    border-radius: 5px;
  }
  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease;
  }
  .galleryImage:hover {
    transform: scale(1.05);
  }
  .modalOverlay {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100vw;
    height: 105vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .modalContent {
    position: relative;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 24px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 14%);
  }
  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }
  .fotoAbierta {
    max-width: 100%;
    max-height: 60vh;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
    border-radius: 5px;
  }
  .fotoAbierta.active {
    opacity: 1;
    display: block;
  }
  .closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .closeButton img {
    width: 24px;
    height: 24px;
  }
  .goToGalleryContainer {
    width: 95%;
    background: none;
    border: none;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 39px;
    font-size: 16px;
    font-weight: 700;
    color: #e55d19;
    font-family: DMSansMedium;
    border: 2px solid #e55d19;
    border-radius: 10px;
  }
  .modalNavButton {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .gallerySection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfaf6;
    padding-top: 16px;
  }
  .subtitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-family: Cardo;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .gallery {
    width: 1120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .imageWrapper {
    position: relative;
    width: 262px;
    height: 197px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
  }
  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease;
  }
  .galleryImage:hover {
    transform: scale(1.05);
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .modalContent {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 14%);
  }
  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }
  .fotoAbierta {
    max-width: 88vw;
    max-height: 95vh;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
    border-radius: 5px;
  }
  .fotoAbierta.active {
    opacity: 1;
    display: block;
  }
  .closeButton {
    position: absolute;
    top: 7px;
    right: 7px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .closeButton img {
    width: 24px;
    height: 24px;
  }
  /* Botones de navegación del modal */
  .modalNavButtons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1100;
  }
  .modalNavButton {
    position: relative;
    width: 60px;
    height: 48px;
    cursor: pointer;
    transition: all 300ms !important;
  }
  .goToGalleryContainer {
    width: 95%;
    background: none;
    border: none;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 16px;
    color: #e55d19;
    font-family: DMSansMedium;
    border: 2px solid #e55d19;
    border-radius: 10px;
    transition: all 300ms;
    cursor: pointer;
  }
  .goToGallery:hover {
    color: #c25308;
    border: 2px solid #c25308;
    transition: all 300ms;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .modalOverlay {
    position: fixed;
    top: -115px;
    left: 0;
    width: 100vw;
    height: 125%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    opacity: 1;
    transition: opacity 0.3sease;
  }
  .closeButton {
    position: absolute;
    top: 122px;
    right: 9px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .closeButton img {
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=galleryHome.module.css.map */