@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

@media (max-width: 767px) {
  //Inicio section Galería
  .gallerySection {
    width: 100vw;
    height: 760px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $naranja-terciario;
    margin-top: 56px;
    //margin-bottom: 40px;
  }

  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $naranja-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .gallery {
    display: flex;
    flex-flow: column wrap;
    width: 93%;
    height: 595px;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 300ms;
  }

  .modalOverlay {
    position: fixed;
    width: 100vw;
    height: 101vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    position: relative;
    width: 100vw;
    height: 480px;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .galleryImage {
    max-width: 49%;
    height: 140px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1;
  }

  .fotoAbierta {
    width: 90%;
    max-height: 400px;
    height: auto;
    margin-top: 24px;
    transition: opacity 0.3s ease;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px;
    &.active {
      opacity: 1;
    }
  }

  .closeButton {
    width: 288px;
    height: 19px;
    font-family: $lato;
    color: $naranja-oficial;
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: absolute;
    top: -3%;
    left: 57%;
  }

  .goToGalleryContainer {
    width: 95%;
    height: 43px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .goToGallery {
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: $naranja-oficial;
    font-family: $lato;
    border: 2px solid $naranja-oficial;
    border-radius: 10px;
  }
  //Fin galería
}
