@charset "UTF-8";
@import url(../../../styles/_variables.scss);
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@media (max-width: 767px) {
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 243, 237, 0.9725490196);
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 328px;
    height: 406px;
    margin-top: 108px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 265px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #d34600;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 210px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 35px;
    height: 35px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 88%;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h1History {
    color: #f8f2ee;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  h3 {
    color: #f8f2ee;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #d34600;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f2ee;
    margin-top: 56px;
    padding-bottom: 56px;
  }
  .subtitleContainer {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #d34600;
    font-family: Bookman;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .gallery {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .imageWrapper {
    position: relative;
    width: 100%;
    padding-top: 82%;
    overflow: hidden;
    border-radius: 5px;
  }
  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease;
  }
  .galleryImage:hover {
    transform: scale(1.05);
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modalContent {
    position: relative;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 24px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 48px);
  }
  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }
  .fotoAbierta {
    max-width: 100%;
    max-height: calc(100vh - 96px);
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
  }
  .fotoAbierta.active {
    opacity: 1;
    display: block;
  }
  .closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .closeButton img {
    width: 24px;
    height: 24px;
  }
  .goToGalleryContainer {
    width: 95%;
    margin: 16px 0;
    background: none;
    border: none;
    padding: 0;
  }
  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    color: #d34600;
    font-family: Lato;
    border: 2px solid #d34600;
    border-radius: 10px;
  }
}/*# sourceMappingURL=galeria.module.css.map */