@import url(../../../styles/_variables.scss);
@import "../../../styles/variables";

@media (max-width: 767px) {
  .navBar {
    display: none;
  }

  .modalNavButtons {
    width: 100%;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1100;
  }

  .modalNavButton {
    width: 30px;
    height: 30px;
  }

  //Header Gallery
  // Manejo de menú hamburguesa
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $background;
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }

  .menuOpen {
    right: 0 !important;
    height: 103vh !important;
    width: 100vw !important;
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .menuItems {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    width: 328px;
  }

  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 320px;
    color: $primario-principal;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: $main-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  a:visited,
  a:link {
    text-decoration: none;
    color: $primario-principal;
  }

  .no-scroll {
    overflow: hidden;
  }

  .mediaIconContainer {
    width: 207px;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .iconMedia {
    width: 30px;
    height: 30px;
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 88%;
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h1History {
    color: $background;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }

  .reserveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $primario-principal;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 32px;
  }
  //Fin sección header + menu hamburguesa

  //Inicio sector galería

  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: $primario-dark;
    margin-top: 56px;
    padding-bottom: 56px;
  }

  .subtitleContainer {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $primario-principal;
    font-family: $third-typography;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .gallery {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 140px;
    //padding-top: 82%;
    overflow: hidden;
    border-radius: 5px;
  }

  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .modalContent {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;

    max-width: calc(100vw);
    max-height: calc(100vh);
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }

  .fotoAbierta {
    max-width: 100%;
    max-height: calc(100vh - 96px);
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;

    &.active {
      opacity: 1;
      display: block; // Muestra solo la imagen activa
    }
  }

  .closeButton {
    position: absolute;
    top: 7px;
    right: 7px;
    background: none;
    border: none;

    cursor: pointer;
    z-index: 1;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .goToGalleryContainer {
    width: 95%;
    margin: 16px 0;
    background: none;
    border: none;
    padding: 0;
  }

  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    color: $primario-principal;
    font-family: $main-typography;
    border: 2px solid $primario-principal;
    border-radius: 10px;
  }
}

//Inicio sección tablet
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .navBar {
    display: none;
  }

  //Header gallery
  // Manejo de menú hamburguesa
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $background;
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }

  .menuOpen {
    right: 0 !important;
    height: 103vh !important;
    width: 100vw !important;
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .menuItems {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    width: 328px;
  }

  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    //width: 170px;
    height: 320px;
    color: $primario-principal;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: $main-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  a:visited,
  a:link {
    text-decoration: none;
    color: $primario-principal;
  }

  .no-scroll {
    overflow: hidden;
  }

  .mediaIconContainer {
    width: 207px;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .iconMedia {
    width: 30px;
    height: 30px;
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 88%;
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h1History {
    color: $background;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }

  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $primario-principal;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  //Fin sección header + menu hamburguesa

  //Inicio sector galería

  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 80px;
  }

  .subtitleContainer {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $primario-principal;
    font-family: $third-typography;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .imageWrapper {
    position: relative;
    width: 336px;
    height: 100%;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 5px;
  }

  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 253px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;

    max-width: calc(100vw);
    max-height: calc(100vh);
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }

  .fotoAbierta {
    max-width: 100%;
    max-height: calc(100vh - 96px);
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; //

    &.active {
      opacity: 1;
      display: block; // Muestra solo la imagen activa
    }
  }

  .closeButton {
    position: absolute;
    top: 2px; // Ajustado para mantener una distancia consistente
    right: 2px;
    background: none;
    border: none;

    cursor: pointer;
    z-index: 1;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .goToGalleryContainer {
    width: 95%;
    margin: 16px 0;
    background: none;
    border: none;
    padding: 0;
  }

  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    color: $primario-principal;
    font-family: $main-typography;
    border: 2px solid $primario-principal;
    border-radius: 10px;
  }

  /* Botones de navegación del modal */
  .modalNavButtons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1100;
  }

  .modalNavButton {
    width: 60px;
    height: 48px;
    transition: all 300ms !important;
  }
}

//Inicio sección notebook
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  //Header gallery
  // Manejo de menú hamburguesa
  //Version Desktop
  .headerMobile {
    height: 680px;
  }

  .burgerMenu {
    display: none;
  }

  .botonMenuHamburguesa {
    display: none;
  }

  .navBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 87px;
    position: fixed;
    top: 0;
    left: 0;

    background: transparent;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1000000;
    //box-shadow: 1px solid gray;
  }

  .scrolled {
    background: rgba(255, 255, 255, 1);
    color: $dark !important;
    backdrop-filter: blur(1.25px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }

  .imgLogoDesktop {
    width: 160px;
    height: 60px;
    margin-left: 160px;
    position: absolute;
    margin-top: 12px;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .navigatonHeader {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }

  .navigatonHeaderScrolled {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }

  .itemOption {
    transition: all 300ms;
  }

  .itemOption:hover {
    color: $primario-principal;
    transition: all 300ms !important;
    font-weight: bold;
    transform: scale(105%);
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 88%;
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h1History {
    color: $background;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }

  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $primario-principal;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  //Fin sección header + menu hamburguesa

  //Inicio sector galería

  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 80px;
  }

  .subtitleContainer {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $primario-principal;
    font-family: $third-typography;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    width: 77%;
  }

  .imageWrapper {
    position: relative;
    width: 262px;
    height: 197px;
    overflow: hidden;
    border-radius: 5px;
  }

  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 253px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .modalContent {
    position: relative;
    //background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 14%);
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }

  .fotoAbierta {
    max-width: 88vw;
    max-height: 95vh;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; //

    &.active {
      opacity: 1;
      display: block; // Muestra solo la imagen activa
    }
  }

  .closeButton {
    position: absolute;
    top: 7px;
    right: 7px;
    background: none;
    border: none;

    cursor: pointer;
    z-index: 1;

    img {
      width: 40px;
      height: 40px;
    }
  }

  /* Botones de navegación del modal */
  .modalNavButtons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1100;
  }

  .modalNavButton {
    position: relative;
    //left: -40%;
    width: 60px;
    height: 48px;
    cursor: pointer;
    transition: all 300ms !important;
  }

  .goToGalleryContainer {
    width: 95%;
    margin: 16px 0;
    background: none;
    border: none;
    padding: 0;
  }

  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    color: $primario-principal;
    font-family: $main-typography;
    border: 2px solid $primario-principal;
    border-radius: 10px;
  }
}

//Inicio sección desktop
@media screen and (min-width: 1920px) and (max-width: 2000px) {
  //Header gallery
  // Manejo de menú hamburguesa
  //Version Desktop
  .headerMobile {
    height: 680px;
  }

  .burgerMenu {
    display: none;
  }

  .botonMenuHamburguesa {
    display: none;
  }

  .navBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 87px;
    position: fixed;
    top: 0;
    left: 0;

    background: transparent;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1000000;
    //box-shadow: 1px solid gray;
  }

  .scrolled {
    background: rgba(255, 255, 255, 1);
    color: $dark !important;
    backdrop-filter: blur(1.25px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  .imgLogoDesktop {
    width: 160px;
    height: 60px;
    margin-left: 160px;
    position: absolute;
    margin-top: 12px;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .navigatonHeader {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: $background;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }

  .navigatonHeaderScrolled {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 608px;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    cursor: pointer;
    transition: all 1ms !important;
  }

  .itemOption {
    transition: all 300ms;
  }

  .itemOption:hover {
    color: $primario-principal;
    transition: all 300ms !important;
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 650px;
    background-image: url(../../../assets/images/galeria/headerBackgroundGallery.jpeg);
    background-size: cover;
    background-position: 88%;
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(30, 30, 30, 0.3);
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h1History {
    color: $background;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }

  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $primario-principal;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
  }
  //Fin sección header + menu hamburguesa

  //Inicio sector galería

  .gallerySection {
    width: 100vw;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 80px;
  }

  .subtitleContainer {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $primario-principal;
    font-family: $third-typography;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 21px;
    width: 58%;
    margin: auto;
  }

  .imageWrapper {
    position: relative;
    width: 262px;
    height: 197px;
    overflow: hidden;
    border-radius: 5px;
  }

  .galleryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 253px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .modalContent {
    position: relative;
    //background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 14%);
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1 !important;
  }

  .fotoAbierta {
    max-width: 88vw;
    max-height: 95vh;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; //

    &.active {
      opacity: 1;
      display: block; // Muestra solo la imagen activa
    }
  }

  .closeButton {
    position: absolute;
    top: 7px;
    right: 7px;
    background: none;
    border: none;

    cursor: pointer;
    z-index: 1;

    img {
      width: 40px;
      height: 40px;
    }
  }

  /* Botones de navegación del modal */
  .modalNavButtons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1100;
  }

  .modalNavButton {
    position: relative;

    width: 60px;
    height: 48px;
    cursor: pointer;
    transition: all 300ms !important;
  }

  .goToGalleryContainer {
    width: 95%;
    margin: 16px 0;
    background: none;
    border: none;
    padding: 0;
  }

  .goToGallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    color: $primario-principal;
    font-family: $main-typography;
    border: 2px solid $primario-principal;
    border-radius: 10px;
  }
}
