//Colors

$naranja-oficial: #d34600;
$naranja-secundario: #a7826f;
$naranja-terciario: #fff4ed;
$marron-secundario: #7b4e37;
$gris-oficial: #4b4a4a;
$pastel: #fbe8db;

//Fonts imports
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}

$bookman: Bookman;
$lato: Lato;
$lato-bold: LatoBold;
