@import url(../../../../../styles/_variables.scss);
@font-face {
  font-family: Cardo;
  src: url(./fonts/Cardo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: DMSansMedium;
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: DMSansSemiBold;
  src: url(./fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSansRegular;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}
@media (max-width: 767px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    background-color: #fcfaf6;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .slider {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    /* mobile/body reg */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }
  .line {
    height: 5px;
  }
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: 310px;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .nameReview {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }
  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .slider {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }
  .line {
    height: 5px;
    width: 51px;
  }
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: 310px;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 50%;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: DMSansMedium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .slider {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }
  .line {
    height: 5px;
    width: 51px;
  }
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    height: 310px;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 33%;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: DMSansMedium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}/*# sourceMappingURL=reviews.module.css.map */