@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

// Estilos mobile
@media (max-width: 767px) {
  //Inicio sección Opiniones
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $naranja-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .slider {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;

    /* mobile/body reg */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  //Inicio opiniones

  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }

  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }

  .line {
    height: 5px;
  }

  //Inicio carousel reviews
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: 310px;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .starIcon {
    width: 24px;
    height: 24px;
  }

  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: $gris-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  //Inicio sección Opiniones
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $naranja-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .slider {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;

    /* mobile/body reg */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  //Inicio opiniones

  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }

  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }

  .line {
    height: 5px;
    width: 51px;
  }

  //Inicio carousel reviews
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: 310px;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 50%;
  }

  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .starIcon {
    width: 24px;
    height: 24px;
  }

  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: $gris-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}
