@charset "UTF-8";
@import url(../../../../../styles/_variables.scss);
@font-face {
  font-family: Cardo;
  src: url(./fonts/Cardo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: DMSansMedium;
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: DMSansSemiBold;
  src: url(./fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSansRegular;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}
@media (max-width: 767px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .sectionOpiniones {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    background-color: #fcfaf6;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
    margin-top: 16px;
  }
  .slider {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }
  .line {
    height: 5px;
  }
  .carouselContainer {
    position: relative;
    width: 92%;
    overflow: hidden;
    height: auto;
    margin-bottom: 16px;
    cursor: grab;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .nameReview {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }
  .reviewText {
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    text-align: center;
  }
  .collapsed {
    max-height: 380px;
  }
  .expanded {
    max-height: 1000px;
  }
  .toggleButton {
    color: #e55d19;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
  }
  .toggleInline {
    color: #e55d19;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
  }
  .dots {
    position: sticky;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .slider {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 89%;
  }
  .line {
    height: 5px;
    width: 51px;
  }
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: auto;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .nameReview {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansSemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }
  .reviewText {
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    text-align: center;
  }
  .collapsed {
    max-height: 380px;
  }
  .expanded {
    max-height: 1000px;
  }
  .toggleButton {
    color: #e55d19;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
  }
  .toggleInline {
    color: #e55d19;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
  }
  .dots {
    position: sticky;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #333333;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .slider {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .sectionOpiniones {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
  }
  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }
  .line {
    height: 5px;
    width: 51px;
  }
  .carouselContainer {
    width: 70%;
    overflow: hidden;
    height: auto;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: auto;
  }
  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .starIcon {
    width: 24px;
    height: 24px;
  }
  .nameReview {
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansSemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }
  .reviewText {
    width: 70%;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    color: #333333;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: DMSansRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    text-align: center;
  }
  .collapsed {
    max-height: 380px;
  }
  .expanded {
    max-height: 1000px;
  }
  .toggleButton {
    color: #e55d19;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
  }
  .toggleInline {
    color: #e55d19;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
  }
  .dots {
    position: sticky;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.5490196078);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .dots .dot.activeDot {
    background-color: #e55d19;
    width: 20px;
    border-radius: 10px;
  }
  .desktopNavButtons {
    display: none;
    display: flex;
    justify-content: space-between;
    width: 78%;
    top: 50%;
    left: 0;
    transform: translateY(250%);
    padding: 0 2rem;
    z-index: 10;
  }
  /* Botones de navegación */
  .navButton {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-image 0.3s ease;
  }
  /* Botón izquierdo */
  .leftButton {
    background-image: url("../../../../assets/icons/ArrowLeft.svg");
  }
  .leftButton:hover {
    background-image: url("../../../../../assets/icons//ArrowRight.svg");
  }
  /* Botón derecho */
  .rightButton {
    background-image: url("../../../../assets/icons/ArrowRigth.svg");
  }
  .rightButton:hover {
    background-image: url("../../../../assets/icons/ArrowRightHover.svg");
  }
}/*# sourceMappingURL=reviews.module.css.map */