@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

// Estilos mobile
@media (max-width: 767px) {
  //Inicio sección Opiniones
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .sectionOpiniones {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    background-color: $background;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitleContainerOpiniones {
    width: 380px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
    margin-top: 16px;
  }

  .slider {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }

  //Inicio opiniones

  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
  }

  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }

  .line {
    height: 5px;
  }

  //Inicio carousel reviews
  .carouselContainer {
    position: relative;
    width: 92%;
    overflow: hidden;
    height: auto;
    margin-bottom: 16px;
    cursor: grab;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .starIcon {
    width: 24px;
    height: 24px;
  }

  .nameReview {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }

  .reviewText {
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    text-align: center;
  }

  .collapsed {
    max-height: 380px;
  }

  .expanded {
    max-height: 1000px;
  }

  .toggleButton {
    color: $primario-principal;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
  }

  .toggleInline {
    color: $primario-principal;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
  }

  .dots {
    position: sticky;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d9d9d98c;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.activeDot {
        background-color: $primario-principal;
        width: 20px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  //Inicio sección Opiniones
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .slider {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }

  //Inicio opiniones

  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
  }

  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 89%;
  }

  .line {
    height: 5px;
    width: 51px;
  }

  //Inicio carousel reviews
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    cursor: grab;
    height: auto;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    //width: 50%;
  }

  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    //justify-content: space-between;
  }

  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .starIcon {
    width: 24px;
    height: 24px;
  }

  .nameReview {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
  }

  .reviewText {
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    text-align: center;
  }

  .collapsed {
    max-height: 380px;
  }

  .expanded {
    max-height: 1000px;
  }

  .toggleButton {
    color: $primario-principal;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
  }

  .toggleInline {
    color: $primario-principal;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
  }

  .dots {
    position: sticky;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 32px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d9d9d98c;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.activeDot {
        background-color: $primario-principal;
        width: 20px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  //Inicio sección Opiniones
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .sectionOpiniones {
    width: 100vw;
    height: 460px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerOpiniones {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .slider {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
  }

  //Inicio opiniones

  .sectionOpiniones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 460px;
  }

  .subtitleContainerOpiniones {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 92%;
  }

  .line {
    height: 5px;
    width: 51px;
  }

  //Inicio carousel reviews
  .carouselContainer {
    width: 92%;
    overflow: hidden;
    height: 310px;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 33%;
  }

  .reviewCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .starContainer {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .starIcon {
    width: 24px;
    height: 24px;
  }

  .reviewText {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 100%;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 0px 16px 16px 16px;
  }
}
