// Importaciones
@import url(../../../styles/_variables.scss);
@import "../../../styles/variables";

// Estilos mobile
@media (max-width: 767px) {
  .header {
    display: none;
  }

  .navBar {
    display: none;
  }

  // Manejo de menú hamburguesa
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff3edf8;

    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }

  .menuOpen {
    right: 0;
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 328px;
    height: 406px;
    margin-top: 108px;
  }

  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 265px;
    color: $naranja-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: $lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }

  a:visited,
  a:link {
    text-decoration: none;
    color: $naranja-oficial;
  }

  .no-scroll {
    overflow: hidden;
  }

  .mediaIconContainer {
    width: 210px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .iconMedia {
    width: 35px;
    height: 35px;
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px; // Ajusta la altura del header
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5); // Fondo negro con opacidad al 50%
  }

  .videoCamping {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    color: $naranja-terciario;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.15px;
  }

  h3 {
    color: $naranja-terciario;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $naranja-oficial;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: $lato-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150; // Asegúrate de que el ícono de menú sea visible
    cursor: pointer;
  }
  //Fin sección header + menu hamburguesa

  //Inicio sección Camping
  .campingSection {
    width: 100vw;
    height: 850px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 40px;
  }

  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $naranja-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .campingTextContainer {
    width: 380px;
    height: 380px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .campingText {
    color: $gris-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 20px;
  }

  .conoceMasContainer {
    width: 257px;
    height: 24px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .conoceMasText {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 20px;
    width: 231px;
    color: $naranja-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
  }

  .chrevronRight {
    width: 24px;
    height: 24px;
  }

  //Carrousel

  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px; // Asegúrate de definir la altura que necesitas
    overflow: hidden; // Mantén esto para evitar desbordamiento lateral no deseado

    .imageWrapper {
      position: relative;
      width: 100%;
      height: 100%; // Asegúrate de usar el 100% de la altura del contenedor principal
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; // Respeta la proporción del contenedor padre
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.active {
        opacity: 1;
      }
    }

    .dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #d9d9d9;
        cursor: pointer;

        &.activeDot {
          background-color: #787878;
        }
      }
    }
    //Fin El Camping
  }
  //Inicio Servicios
  .serviceSection {
    width: 100vw;
    height: 810px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(../../../assets/images/backgroundServices.jpg);
    background-position: center;
  }

  .coverServices {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      0deg,
      rgba(41, 46, 33, 0.69) 0%,
      rgba(41, 46, 33, 0.69) 50%
    );
  }

  .subtitleContainerServices {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2Servicios {
    color: #f5b498;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .iconServiciesContainer {
    display: flex;
    width: 380px;
    height: 702px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 8px;
    flex-wrap: wrap;
  }

  .serviceContainer {
    display: flex;
    width: 186px;
    height: 164px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    flex-shrink: 0;
    justify-content: space-between;
    height: 124px;
  }

  span {
    //text-align: center;
    color: $naranja-terciario;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 64px;
    /* mobile/body bold */
    font-family: $lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
    width: 186px;
    align-self: stretch;
  }

  //fin sección servicios

  //Inicio sección MKT
  .mktSection {
    width: 100vw;
    height: 1090px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .containerMktOne {
    width: 100%;
    height: 437px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .containerMktTwo {
    width: 100%;
    height: 541px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt {
    width: 380px;
    height: 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .subtitleContainerMkt2 {
    width: 380px;
    height: 176px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .h2Mkt {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }

  .astroExplication {
    color: $gris-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
  }

  .fotoContainer {
    width: 100vw;
    height: 309px;
  }

  .fotoContainer2 {
    width: 100vw;
    height: 309px;
    margin-top: 56px;
  }
//Fin sectión MKT


//Inicio section Galería
.gallerySection{
  width: 100vw;
  height: 771px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: $naranja-terciario;
  margin-top: 56px;
}


}
