@import url(../../../styles/_variables.scss);
@import "../../../styles/variables";

//Nav
.navBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 130px;
  font-family: $lato;
  font-size: 24px;
}

.logoContainer {
  width: 600px;
}

.navContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $gris-oficial;
}

.active {
  color: $naranja-oficial;
  font-weight: bold;
  text-decoration: none;
}
//Fin Nav

//Header
header {
  background-image: url(../../../assets/images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  width: 100%;
  height: 650px;
}

.coverHeader {
  background-color: rgba(0, 0, 0, 0.418);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: $bookman;
  color: white;
  font-size: 60px;
}

h3 {
  font-family: $lato;
  color: white;
  font-size: 22px;
  font-weight: normal;
}

.reserveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  background-color: $naranja-oficial;
  color: white;
  font-family: $lato;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all 300ms;
  text-align: center;
}

.reserveButton:hover {
  transform: scale(110%);
  background-color: $naranja-secundario;
}

//Fin header

//Inicio sección camping
.sectionContainer {
  height: 500px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.campingTextContainer {
  display: flex;
  flex-flow: column;
  width: 40%;
}

.h2 {
  font-family: $bookman;
  font-size: 30px;
  color: $naranja-oficial;
  text-align: center;
}

.textCamping {
  font-family: $lato;
  font-size: 18px;
  text-align: center;
}

.campingImage {
  width: 550px;
}

//Fin sección el camping

//Inicio sección Servicios y Opiniones
.sectionContainerCenter {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 500px;
}

.blockContainer {
  display: flex;
  flex-flow: column;

  width: 1000px;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.iconBlockContainer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: $lato;
}

.buttonConoceMas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  background-color: #d34600;
  color: white;
  font-family: $lato;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all 300ms;
  text-align: center;
}

//Inicio sección Cómo llegar
.mapaBox {
  width: 600px;
  height: 400px;
}

.infoUbicationBox {
  width: 40%;
  height: 300px;
}

.titleUbication {
  font-family: $bookman;
  font-size: 30px;
  color: $naranja-oficial;
  text-align: start;
}

.boxMobileContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 295px;
  justify-content: space-between;
}

//comienzo mobile
@media (max-width: 412px) {
  body {
    overflow-x: hidden !important;
  }

  //Header
  .navBar {
    display: none;
  }

  .header {
    width: 412px;
    height: 333px;
  }

  .boxMobileContainer {
    display: flex;
    width: 371px;
    height: 143px;
  }

  .titlesContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 65px;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  .h2Servicios {
    font-family: $bookman;
    font-size: 24px;
    color: $marron-secundario;
    text-align: center;
    margin-bottom: 5px;
  }

  .h2Opiniones {
    width: 360px;
    height: 64px;
    font-family: $bookman;
    text-align: center;
    color: $naranja-oficial;
    font-size: 24px;
  }

  .reserveButton {
    width: 328px;
    height: 43px;
    font-size: 16px;
    font-family: $lato;
    font-weight: normal;
  }

  //El camping
  .sectionContainer {
    margin: auto;
    flex-flow: column;
    width: 380px;
    height: 673px;
  }

  .campingTextContainer {
    width: 100%;
    margin-top: 24px;
  }

  .h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .textCamping {
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
  }

  .campingImage {
    width: 412px;
    height: 326px;
  }

  //Servicios
  .serviceSection {
    background-color: #fbe8db;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 973px;
  }

  .containerTitle {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 116px;
    height: 35px;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .lineSubrayer {
    width: 51px;
  }

  .servicesContainer {
    display: flex;
    flex-flow: row wrap;
    width: 380px;
    justify-content: space-between;
  }

  .contenedorServicio {
    width: 186px;
    height: 130px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .iconClass {
    width: 70px;
    height: 70px;
  }

  .descripcionServicio {
    font-size: 14px;
    font-family: $lato;
    color: $gris-oficial;
    font-weight: 600;
    text-align: center;
    height: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .buttonConoceMas {
    width: 328px;
    height: 43px;
    font-family: $lato;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
    background-color: transparent;
    color: $naranja-oficial;
    border: 2px solid $naranja-oficial;
    border-radius: 10px;
  }

  //Opiniones

  .sectionOpiniones {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 316px;
  }

  .h2Opiniones {
    margin-top: 24px;
  }

  .sliderContainer {
    position: relative;
    max-width: 412px;
    overflow: hidden;
    touch-action: pan-x; /* Permite arrastrar horizontalmente */
    width: 380px;
    height: 136px;
    margin-bottom: 56px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transición suave */
    will-change: transform; /* Mejora el rendimiento */
    width: 380px;
    height: 136px;
  }

  .slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho del contenedor */
    text-align: center;
    width: 380px;
    height: 136px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .itemIconContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
  }

  .nameOpinion {
    font-family: $lato;
    font-size: 20px;
    color: $gris-oficial;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .opinion {
    width: 360px;
    height: 96px;
    font-size: 14px;
    color: $gris-oficial;
    line-height: 16px;
    align-items: center;
    text-align: center;
    font-family: $lato;
  }
}
