@charset "UTF-8";
@import url(../../../styles/_variables.scss);
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@media (max-width: 767px) {
  .header {
    display: none;
  }
  .navBar {
    display: none;
  }
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 243, 237, 0.9725490196);
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .menuOpen {
    right: 0;
  }
  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 328px;
    height: 406px;
    margin-top: 108px;
  }
  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 265px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }
  a:visited,
  a:link {
    text-decoration: none;
    color: #d34600;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mediaIconContainer {
    width: 210px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .iconMedia {
    width: 35px;
    height: 35px;
  }
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px;
  }
  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }
  .videoCamping {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
  .contentHeader {
    width: 328px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: #fff4ed;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.15px;
  }
  h3 {
    color: #fff4ed;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }
  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #d34600;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: LatoBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    cursor: pointer;
  }
  .campingSection {
    width: 100vw;
    height: 850px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 40px;
  }
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2 {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .campingTextContainer {
    width: 380px;
    height: 380px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .campingText {
    color: #4b4a4a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 20px;
  }
  .conoceMasContainer {
    width: 257px;
    height: 24px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .conoceMasText {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 20px;
    width: 231px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
  }
  .chrevronRight {
    width: 24px;
    height: 24px;
  }
  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #787878;
  }
  .serviceSection {
    width: 100vw;
    height: 810px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(../../../assets/images/backgroundServices.jpg);
    background-position: center;
  }
  .coverServices {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(41, 46, 33, 0.69) 0%, rgba(41, 46, 33, 0.69) 50%);
  }
  .subtitleContainerServices {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2Servicios {
    color: #f5b498;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .iconServiciesContainer {
    display: flex;
    width: 380px;
    height: 702px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 8px;
    flex-wrap: wrap;
  }
  .serviceContainer {
    display: flex;
    width: 186px;
    height: 164px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    flex-shrink: 0;
    justify-content: space-between;
    height: 124px;
  }
  span {
    color: #fff4ed;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 64px;
    /* mobile/body bold */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
    width: 186px;
    align-self: stretch;
  }
  .mktSection {
    width: 100vw;
    height: 1090px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .containerMktOne {
    width: 100%;
    height: 437px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  .containerMktTwo {
    width: 100%;
    height: 541px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .subtitleContainerMkt {
    width: 380px;
    height: 96px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .subtitleContainerMkt2 {
    width: 380px;
    height: 176px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .h2Mkt {
    color: var(--Dark, #4b4a4a);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }
  .astroExplication {
    color: #4b4a4a;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
  }
  .fotoContainer {
    width: 100vw;
    height: 309px;
  }
  .fotoContainer2 {
    width: 100vw;
    height: 309px;
    margin-top: 56px;
  }
  .gallerySection {
    width: 100vw;
    height: 760px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff4ed;
    margin-top: 56px;
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
    width: 380px;
    height: 595px;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 300ms;
  }
  .modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modalContent {
    position: relative;
    width: 100vw;
    height: 480px;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .galleryImage {
    width: 186px !important;
    height: 140px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
  }
  .fadeIn {
    transform: scale(1);
    opacity: 1;
  }
  .fotoAbierta {
    width: 90%;
    max-height: 390px;
    height: auto;
    margin-top: 24px;
    transition: opacity 0.3s ease;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px;
  }
  .fotoAbierta.active {
    opacity: 1;
  }
  .closeButton {
    width: 288px;
    height: 19px;
    font-family: Lato;
    color: #d34600;
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 85%;
  }
  .goToGalleryContainer {
    height: 43px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .goToGallery {
    width: 380px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #d34600;
    font-family: Lato;
    border: 2px solid #d34600;
    border-radius: 10px;
  }
  .tarifaSection {
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px !important;
  }
  .tarifasContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 360px;
    justify-content: space-between;
  }
  .boxTarifaDia {
    width: 380px;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
    background: #fff4ed;
  }
  .helpBox {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 238px;
  }
  .itemTarifaDia {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 46%;
    margin-left: 8px;
    margin-bottom: 2px;
  }
  .descripcionTarifa {
    width: 193px;
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 24px;
  }
  .precioTarifa {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-right: 8px;
  }
  .boxTarifaPernocte {
    width: 380px;
    height: 140px;
    background-color: #fff4ed;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .itemTarifaPernocte {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-left: 8px;
    margin-top: 8px;
  }
  .helpBoxPernocte {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
  }
  .tarifa {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .descripcionTarifaPernocte {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
  }
  .precioTarifaPernocte {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
  }
  .aclaracionPernocte {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-left: 8px;
    margin-bottom: 8px;
  }
  .boxTarifaDiaFinde {
    width: 380px;
    height: 56px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
    background: #fff4ed;
  }
  .referenciaPrecio {
    width: 380px;
    color: #4b4a4a;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  .boxBeneficiosTarifas {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 367px;
    margin: auto;
    margin-top: 24px;
    height: 80px;
    justify-content: space-between;
  }
  .boxBeneficio {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .tilde {
    width: 14px;
    height: 10px;
    margin-right: 5px;
  }
  .beneficio {
    color: #4b4a4a;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.25px;
  }
  .reserveButtonTarifa {
    display: flex;
    width: 328px;
    height: 43px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #d34600;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 56px;
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}/*# sourceMappingURL=home.module.css.map */