@import url(../../../styles/_variables.scss);
@import "../../../styles/variables";

//comienzo mobile
@media (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }

  //Header
  .navBar {
    display: none;
  }

  .header {
    height: 420px;
  }

  .coverHeader {
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boxMobileContainer {
    display: flex;
    width: 22.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .titlesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
  }

  h1 {
    color: var(--Secundario-light, #fbe8db);
    font-feature-settings: "liga" off, "clig" off;

    /* mobile/BK H2 */
    font-family: $bookman;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 133.333% */
    letter-spacing: 0.00938rem;
  }

  h3 {
    color: var(--Secundario-light, #fbe8db);
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;

    /* mobile/H3 */
    font-family: $lato;
    font-size: 18px;
    font-style: normal;
    //font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00625rem;
  }

  .reserveButton {
    display: flex;
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    background: $naranja-oficial;
    color: var(--White, #fff);
    text-align: center;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: all 300ms;
  }

  .reserveButton:hover {
    transform: scale(105%);
  }
}
