
@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

// Estilos mobile
@media (max-width: 767px) {


  // Manejo de menú hamburguesa
  .burgerMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff3edf8;
    transition: right 300ms ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }

  .menuOpen {
    right: 0;
    height: 103vh !important;
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 328px;
    height: 406px;
    margin-top: 108px;
  }

  .itemsNavigationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 265px;
    color: $naranja-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    text-decoration: none;
    font-family: $lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
  }

  a:visited,
  a:link {
    text-decoration: none;
    color: $naranja-oficial;
  }

  .no-scroll {
    overflow: hidden;
  }

  .mediaIconContainer {
    width: 210px;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .iconMedia {
    width: 35px;
    height: 35px;
  }

  // Header Mobile
  .headerMobile {
    position: relative;
    width: 100vw;
    height: 420px; // Ajusta la altura del header
  }

  .coverHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5); // Fondo negro con opacidad al 50%
  }

  .videoCamping {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  //contenido del header, h1, h3 y botón reservar
  .contentHeader {
    width: 328px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    color: $naranja-terciario;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.15px;
  }

  h3 {
    color: $naranja-terciario;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .reserveButton {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: $naranja-oficial;
    text-decoration: none;
    color: var(--White, #fff);
    text-align: center;
    font-family: $lato-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  img[alt="Abrir menú hamburguesa"] {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150; // Asegúrate de que el ícono de menú sea visible
    cursor: pointer;
  }
  //Fin sección header + menu hamburguesa
}
