@import url(../../../../../styles/_variables.scss);
@font-face {
  font-family: Bookman;
  src: url(./fonts/BOOKOSB.TTF) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: LatoBold;
  src: url(./fonts/Lato-Bold.ttf) format("truetype");
}
@media (max-width: 767px) {
  .campingSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 56px;
    margin-top: 56px;
  }
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .h2 {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .campingTextContainer {
    width: 92%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 46px;
  }
  .campingText {
    color: #4b4a4a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .conoceMasContainer {
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 257px;
    justify-content: space-between;
  }
  .conoceMasText {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 20px;
    width: 231px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
  }
  .chrevronRight {
    width: 24px;
    height: 24px;
  }
  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #787878;
  }
}
@media (max-width: 1439px) {
  .campingSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 56px;
    margin-top: 56px;
  }
  .subtitleContainer {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 32px;
  }
  .h2 {
    color: #d34600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Bookman;
    font-family: "Bookman Old Style";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: 0.15px;
  }
  .campingTextContainer {
    width: 92%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 46px;
  }
  .campingText {
    color: #4b4a4a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  .conoceMasContainer {
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 257px;
    justify-content: space-between;
  }
  .conoceMasText {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 20px;
    width: 231px;
    color: #d34600;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
  }
  .chrevronRight {
    width: 24px;
    height: 24px;
  }
  .carrouselCamping {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .carrouselCamping .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .carrouselCamping .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carrouselCamping .image.active {
    opacity: 1;
  }
  .carrouselCamping .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  .carrouselCamping .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
  }
  .carrouselCamping .dots .dot.activeDot {
    background-color: #787878;
  }
}/*# sourceMappingURL=camping.module.css.map */