* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
}

input {
  border-radius: 5px !important;
}

.no-scroll {
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .react-datepicker {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    border: none;
    color: #4b4a4a;
    transition: all 300ms !important;
  }

  .react-datepicker__month-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
  }

  .react-datepicker__month {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .react-datepicker__week {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 32px;
    /* justify-content: space-around; */
  }

  .react-datepicker__day {
    width: 32px;
    height: 28px;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
    font-family: "DMSansMedium";
    font-size: 16px;
    font-weight: normal;
  }

  .react-datepicker {
    font-family: "DMSansMedium", sans-serif;
  }

  .react-datepicker__day--in-range {
    background-color: rgba(
      241,
      121,
      51,
      0.897
    ) !important; /* Tu naranja corporativo con opacidad */
    color: white !important;
  }

  .react-datepicker__day--range-start {
    background: #d34600 !important;
  }

  .react-datepicker__day--range-end {
    background: #d34600 !important;
  }

  .react-datepicker__day {
    color: #4b4a4a;
    margin: 0;
  }

  .react-datepicker__day--disabled {
    color: rgba(128, 128, 128, 0.445);
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]) {
    color: white;
    background-color: rgb(223, 85, 35);
  }

  .react-datepicker__day:hover {
    background-color: rgba(201, 52, 19, 0.2);
  }

  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }

  .react-datepicker__navigation {
    top: 4px;
  }

  .react-datepicker__day-name {
    color: #7b4e37;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__day--outside-month {
    background-color: transparent !important;
    color: #d1d1d1;
  }
}

/* Inicio sección tablet */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  #camping {
    scroll-margin-top: 32px;
  }

  #llegar {
    scroll-margin-top: 10px;
  }

  .react-datepicker {
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    color: #4b4a4a;
    transition: all 300ms !important;
    margin: auto;
  }

  .react-datepicker__month-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 430px;
    height: 353px;
    align-items: flex-start;
  }

  .react-datepicker__month {
    margin: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .react-datepicker__week {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 46px;
    width: 97%;
  }

  .react-datepicker__day {
    width: 32px;
    height: 28px;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
    font-family: "DMSansMedium";
    font-size: 16px;
    margin-bottom: 16px !important;
  }

  .react-datepicker {
    font-family: "DMSansMedium", sans-serif;
  }

  .react-datepicker__day--in-range {
    background-color: rgba(
      241,
      121,
      51,
      0.897
    ) !important; /* Tu naranja corporativo con opacidad */
    color: white !important;
  }

  .react-datepicker__day--range-start {
    background: #d34600 !important;
  }

  .react-datepicker__day--range-end {
    background: #d34600 !important;
  }

  .react-datepicker__day {
    color: #4b4a4a;
    margin: 0;
  }

  .react-datepicker__day--disabled {
    color: rgba(128, 128, 128, 0.445);
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]) {
    color: white;
    background-color: rgb(223, 85, 35);
  }

  .react-datepicker__day:hover {
    background-color: rgba(201, 52, 19, 0.2);
  }

  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }

  .react-datepicker__day-name {
    color: #c25308;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__day--outside-month {
    background-color: transparent !important;
    color: #d1d1d1;
  }

  .react-datepicker__navigation--next {
    right: 5%;
  }
}

/*Desktop*/
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  #camping {
    scroll-margin-top: 85px;
  }

  #servicios {
    scroll-margin-top: 85px;
  }

  #galeria {
    scroll-margin-top: 85px;
  }

  #tarifas {
    scroll-margin-top: 85px;
  }

  #llegar {
    scroll-margin-top: 85px;
  }

  .react-datepicker {
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    color: #4b4a4a;
    transition: all 300ms !important;
  }

  .react-datepicker__month-container {
    display: flex;

    flex-flow: column;
    justify-content: flex-start;
    width: 430px;
    height: 353px;
    align-items: flex-start;
  }

  .react-datepicker__month {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .react-datepicker__week {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 46px;
    width: 97%;
  }

  .react-datepicker__day {
    width: 32px;
    height: 28px;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
    font-family: "DMSansMedium";
    font-size: 16px;
    margin-bottom: 16px !important;
  }

  .react-datepicker {
    font-family: "DMSansMedium", sans-serif;
  }

  .react-datepicker__day--in-range {
    background-color: rgba(
      241,
      121,
      51,
      0.897
    ) !important; /* Tu naranja corporativo con opacidad */
    color: white !important;
  }

  .react-datepicker__day--range-start {
    background: #d34600 !important;
  }

  .react-datepicker__day--range-end {
    background: #d34600 !important;
  }

  .react-datepicker__day {
    color: #4b4a4a;
    margin: 0;
  }

  .react-datepicker__day--disabled {
    color: rgba(128, 128, 128, 0.445);
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]) {
    color: white;
    background-color: rgb(223, 85, 35);
  }

  .react-datepicker__day:hover {
    background-color: rgba(201, 52, 19, 0.2);
  }

  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }

  .react-datepicker__day-name {
    color: #c25308;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__day--outside-month {
    background-color: transparent !important;
    color: #d1d1d1;
  }

  .react-datepicker__navigation--next {
    right: 5%;
  }
}

@media screen and (min-width: 1920px) {
  #camping {
    scroll-margin-top: 85px;
  }

  #servicios {
    scroll-margin-top: 85px;
  }

  #galeria {
    scroll-margin-top: 85px;
  }

  #tarifas {
    scroll-margin-top: 85px;
  }

  #llegar {
    scroll-margin-top: 85px;
  }

  .react-datepicker {
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    color: #4b4a4a;
    transition: all 300ms !important;
  }

  .react-datepicker__month-container {
    display: flex;

    flex-flow: column;
    justify-content: flex-start;
    width: 430px;
    height: 353px;
    align-items: flex-start;
  }

  .react-datepicker__month {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .react-datepicker__week {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 46px;
    width: 97%;
  }

  .react-datepicker__day {
    width: 32px;
    height: 28px;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
    font-family: "DMSansMedium";
    font-size: 16px;
    margin-bottom: 16px !important;
  }

  .react-datepicker {
    font-family: "DMSansMedium", sans-serif;
  }

  .react-datepicker__day--in-range {
    background-color: rgba(
      241,
      121,
      51,
      0.897
    ) !important; /* Tu naranja corporativo con opacidad */
    color: white !important;
  }

  .react-datepicker__day--range-start {
    background: #d34600 !important;
  }

  .react-datepicker__day--range-end {
    background: #d34600 !important;
  }

  .react-datepicker__day {
    color: #4b4a4a;
    margin: 0;
  }

  .react-datepicker__day--disabled {
    color: rgba(128, 128, 128, 0.445);
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]) {
    color: white;
    background-color: rgb(223, 85, 35);
  }

  .react-datepicker__day:hover {
    background-color: rgba(201, 52, 19, 0.2);
  }

  .react-datepicker__header {
    background-color: white;
    border-bottom: none;
  }

  .react-datepicker__day-name {
    color: #c25308;
    font-weight: 500;
    text-transform: capitalize;
  }

  .react-datepicker__day--outside-month {
    background-color: transparent !important;
    color: #d1d1d1;
  }

  .react-datepicker__navigation--next {
    right: 5%;
  }
}
