// Importaciones
@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

@media (max-width: 767px) {
  .llegarSection {
    width: 100vw;
    height: 1611px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $naranja-terciario;
  }

  //Inicio sección Como llegar
  .subtitleContainerLlegar {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .h2 {
    color: $naranja-oficial;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $bookman;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .trenBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 441px;
    width: 92%;
  }

  .iconTransporte {
    width: 46px;
    height: 47px;
    margin-bottom: 16px;
  }

  .boxText {
    width: 208px;
    width: 100%;
  }

  .descripcionLlegar {
    height: 192px;
    font-family: $lato;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: $gris-oficial;
  }

  .linkCompraPasaje {
    text-decoration: underline !important;
  }

  .linkTarifasTren {
    width: 310px;
    color: $naranja-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 16px;
  }

  .chrevronRight {
    margin-top: 3px;
  }

  .autoBoxContainer {
    width: 92%;
    height: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .infoBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 92%;
    height: 288px;
    margin-bottom: 16px;
  }

  .mapaInfo {
    margin-bottom: 24px;
    width: 92%;
  }

  .modalSection {
    width: 100vw;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $naranja-terciario;
  }

  .modalMapaContenedor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: inline-block;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;

    z-index: 1000;
  }

  .modalContent {
    position: relative;
    width: 100vw;
    height: 90%;
    //background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    top: 6%;
  }

  .fadeIn {
    transform: scale(1);
    opacity: 1;
  }

  .mapaGrande {
    width: 125%;
    height: 85%;
    margin-top: 24px;
    transition: opacity 0.3s ease;
    position: absolute;
    left: -19%;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px;
  }

  .closeButton {
    width: 288px;
    height: 19px;
    font-family: $lato;
    color: $naranja-oficial;
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 1%;
    left: 46%;
  }

  .itemInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 112px;
    margin-bottom: 16px;
  }

  .iconInfo {
    height: 32px;
    margin-bottom: 8px;
  }

  .itemInfoContainerDos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 16px;
  }

  .descriptionInfo {
    height: 72px;
    color: $gris-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  .descripcionLlegarAuto {
    color: $gris-oficial;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }
}
