// Importaciones
@import url(../../../../../styles/_variables.scss);
@import "../../../../../styles/variables";

@media (max-width: 767px) {
  .llegarSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 72px;
  }

  //Inicio sección Como llegar
  .subtitleContainerLlegar {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .trenBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 441px;
    width: 92%;
  }

  .iconTransporte {
    width: 46px;
    height: 47px;
    margin-bottom: 16px;
  }

  .boxText {
    width: 208px;
    width: 100%;
  }

  .descripcionLlegar {
    height: 192px;
    font-family: $main-typography;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: $dark;
  }

  .mapaLocation {
    width: 92%;
    height: 336px;
    border: none;
    margin-bottom: 16px;
  }

  //Acordeon Section

  .contenedorAcordeon {
    border-bottom: 2px solid $primario-dark;
    width: 92%;
  }

  .contenedorAcordeonAuto {
    border-bottom: 2px solid $primario-dark;
    width: 92%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .contenedorBici {
    border-bottom: 2px solid $primario-dark;
    width: 92%;
    margin-bottom: 72px;
  }

  .accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    opacity: 0;
    visibility: hidden;

    &.expanded {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in,
        visibility 0s linear 0s;
    }
  }

  .titleContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-left: 16px;
    height: 62px;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  .trainSVG {
    margin-right: 16px;
    width: 29px;
    height: 29px;
  }

  .expandAcordeon {
    right: 4%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transition: transform 1s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }

  .indicationContainer {
    display: flex;
    flex-flow: row wrap;
    width: 92%;
    text-align: center;
    color: $dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    margin: auto;
    margin-bottom: 16px;
    transition: all 1s ease-in-out;
    //margin-left: 8px;
  }

  .ubicationTitle {
    color: $primario-dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .linkCompraPasaje {
    text-decoration: underline !important;
    color: $primario-dark !important;
  }

  .linkTarifasTren {
    width: 308px;
    color: $primario-dark !important;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
    display: flex;
    flex-flow: row;
    align-items: center;

    margin: auto;
    margin-bottom: 16px;
  }

  .chrevronRight {
    margin-top: 3px;
  }

  .autoBoxContainer {
    width: 92%;
    height: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .infoBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 92%;
    height: 288px;
    margin-bottom: 16px;
  }

  .itemInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 16px;
  }

  .iconInfo {
    height: 32px;
    margin-bottom: 8px;
  }

  .itemInfoContainerDos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 16px;
  }

  .descriptionInfo {
    height: auto;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  .descripcionLlegarAuto {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .mapaLlegar {
    width: 92%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

//Inicio modo tablet
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .llegarSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  //Inicio sección Como llegar
  .subtitleContainerLlegar {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .trenBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 441px;
    width: 92%;
  }

  .iconTransporte {
    width: 46px;
    height: 47px;
    margin-bottom: 16px;
  }

  .boxText {
    width: 208px;
    width: 100%;
  }

  .descripcionLlegar {
    height: 192px;
    font-family: $main-typography;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: $dark;
  }

  .mapaLocation {
    width: 336px;
    height: 336px;
    border: none;
    margin-bottom: 16px;
  }

  //Acordeon Section

  .contenedorAcordeon {
    border-bottom: 2px solid $primario-dark;
    width: 688px;
    margin-top: 16px;
  }

  .contenedorAcordeonAuto {
    border-bottom: 2px solid $primario-dark;
    width: 688px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .contenedorBici {
    border-bottom: 2px solid $primario-dark;
    width: 92%;
    margin-bottom: 72px;
  }

  .accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    opacity: 0;
    visibility: hidden;

    &.expanded {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in,
        visibility 0s linear 0s;
    }
  }

  .titleContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-left: 16px;
    height: 62px;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  .trainSVG {
    margin-right: 16px;
  }

  .expandAcordeon {
    right: 6%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transition: transform 1s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }

  .indicationContainer {
    width: 92%;
    text-align: center;
    color: $dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    margin: auto;
    margin-bottom: 16px;
    transition: all 1s ease-in-out;
  }

  .ubicationTitle {
    color: $primario-dark !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .linkCompraPasaje {
    text-decoration: underline !important;
    color: $primario-dark !important;
  }

  .linkTarifasTren {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 16px;
  }

  .chrevronRight {
    margin-top: 3px;
  }

  .autoBoxContainer {
    width: 92%;
    height: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .infoBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 336px;
    height: 336px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .itemInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 112px;
    margin-bottom: 16px;
  }

  .iconInfo {
    height: 32px;
    margin-bottom: 8px;
  }

  .itemInfoContainerDos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 16px;
  }

  .descriptionInfo {
    height: 72px;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  .descripcionLlegarAuto {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .mapaLlegar {
    width: 92%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .llegarSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  //Inicio sección Como llegar
  .subtitleContainerLlegar {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    margin-bottom: 32px;
  }

  .h2 {
    color: $dark;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $third-typography;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }

  .trenBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 441px;
    width: 92%;
  }

  .iconTransporte {
    width: 46px;
    height: 47px;
    margin-bottom: 16px;
  }

  .boxText {
    width: 208px;
    width: 100%;
  }

  .descripcionLlegar {
    height: 192px;
    font-family: $main-typography;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: $dark;
  }

  .mapaLocation {
    width: 548px;
    height: 336px;
    border: none;
    margin-bottom: 16px;
  }

  //Acordeon Section

  .contenedorAcordeon {
    border-bottom: 2px solid $primario-dark;
    width: 1120px;
    margin-top: 16px;
  }

  .contenedorAcordeonAuto {
    border-bottom: 2px solid $primario-dark;
    width: 1120px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    opacity: 0;
    visibility: hidden;

    &.expanded {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.5s ease-in, opacity 0.5s ease-in,
        visibility 0s linear 0s;
    }
  }

  .titleContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 62px;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  .trainSVG {
    margin-right: 16px;
  }

  .expandAcordeon {
    right: 11%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transition: transform 1s ease;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      opacity: 0.8;
    }
  }

  .indicationContainer {
    width: 92%;
    //text-align: left;
    color: $dark;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 92%;
    margin: auto;
    margin-bottom: 16px;
    transition: all 1s ease-in-out;
  }

  .ubicationTitle {
    color: $primario-dark !important;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .linkCompraPasaje {
    text-decoration: underline !important;
    color: $primario-dark !important;
  }

  .linkTarifasTren {
    color: $primario-dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-bold-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.4px;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: auto;
    margin-bottom: 16px;
    text-decoration: none;
    justify-content: flex-start;
    margin-left: 8px;
  }

  .chrevronRight {
    margin-top: 3px;
  }

  .autoBoxContainer {
    width: 92%;
    height: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .infoBoxContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 548px;
    height: 336px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .itemInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 112px;
    margin-bottom: 16px;
  }

  .iconInfo {
    height: 32px;
    margin-bottom: 8px;
  }

  .itemInfoContainerDos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 16px;
  }

  .descriptionInfo {
    height: 72px;
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $second-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 114.286% */
    letter-spacing: 0.25px;
  }

  .descripcionLlegarAuto {
    color: $dark;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $main-typography;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }

  .mapaLlegar {
    height: 860px;
    width: 80%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
