@import url(../../../../../styles/_variables.scss);
@font-face {
  font-family: Cardo;
  src: url(./fonts/Cardo-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: DMSansMedium;
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: DMSansSemiBold;
  src: url(./fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: DMSansRegular;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}
@media (max-width: 767px) {
  .serviceSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(../../../../../assets/images/backgroundServices.jpg);
    background-position: center;
  }
  .coverServices {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(41, 46, 33, 0.69) 0%, rgba(41, 46, 33, 0.85) 50%);
  }
  .subtitleContainerServices {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2Servicios {
    color: #fad9cb;
    text-transform: uppercase;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .iconServiciesContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 94%;
    margin-bottom: 16px;
  }
  .serviceContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .contenedorIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-bottom: 8px;
  }
  .spanServicios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    width: 100%;
    color: #fcfaf6;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 64px;
    font-family: DMSansRegular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    width: 175px;
    align-self: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .serviceSection {
    width: 100vw;
    height: 918px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url(../../../../../assets/images/backgroundServices.jpg);
    background-position: center;
  }
  .coverServices {
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(41, 46, 33, 0.69) 0%, rgba(41, 46, 33, 0.69) 50%);
  }
  .subtitleContainerServices {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .h2Servicios {
    color: #fad9cb;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Cardo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.15px;
  }
  .iconServiciesContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 68%;
  }
  .serviceContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .contenedorIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-bottom: 8px;
  }
  .spanServicios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    width: 100%;
    color: #fad9cb;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    height: 64px;
    font-family: DMSansMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    width: 175px;
    align-self: stretch;
  }
}/*# sourceMappingURL=services.module.css.map */